<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <a href="/"
            ><img class="header-img-logo" src="images/logo-mercado-liebre.svg" alt="MercadoLiebre"
          /></a>
        </div>
        <form action="GET" class="form">
          <input
            type="text"
            name="busqueda"
            class="barraBusqueda"
            placeholder="Buscar productos, marcas..."
          />
          <button type="submit">
            <a href="#"><i class="fas fa-search"></i></a>
          </button>
        </form>

        <!-- <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas y más</div>
          <div class="submit"><i class="fa fa-search"></i></div>
        </div> -->
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <nav class="nav-header">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <main class="section-login">
      <form class="login" action="/" method="POST">
        <input
          class="input-text-login borde"
          type="text"
          name="user"
          placeholder="Nombre de usuario"
          required
        />
        <input
          class="input-text-login borde"
          id="campoContrasena"
          type="password"
          name="pass"
          placeholder="Elegí tu contraseña"
          required
          min="10"
        />
        <input class="boton-entrar boton-login" type="submit" value="Enviar" onclick="validar(e)" />
      </form>
    </main>
    <footer>
      <section class="footer-seccion">
        <div class="footer-section-contenedor">
          <i class="fas fa-credit-card footer-icono"></i>
          <h2 class="footer-titulo">Paga con tarjeta de credito o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footer-section-contenedor">
          <i class="fas fa-gift footer-icono"></i>
          <h2 class="footer-titulo">Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
            Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="footer-section-contenedor">
          <i class="fas fa-user-shield footer-icono"></i>
          <h2 class="footer-titulo">Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
            estás siempre protegid@
          </p>
        </div>
      </section>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
  <script>
    let campoContrasena = documentElementById("campoContrasena");
    function validar(e) {
      e.preventDefault();
      if (campoContrasena.value === 0) {
        alert("Este campo está vacío");
      }
    }
  </script>
</html>
